Repository JNU-econovation/CoNoE, pull requests merged in 2023-05, with the labels that each got.

#5 라우터 설정 및 메인 페이지
  src/client/index.html
  src/client/src/App.jsx
  src/client/src/components/common/BlueButton.jsx
  src/client/src/components/common/Footer.jsx
  src/client/src/components/common/Header.jsx
  src/client/src/components/common/Layout.jsx
  src/client/src/components/common/Logo.jsx
  src/client/src/components/common/PageTitle.jsx
  src/client/src/components/home/Explanation.jsx
  src/client/src/components/home/Main.jsx
  src/client/src/pages/Home.jsx
  src/client/src/routes.js
  src/client/src/styles/GlobalStyle.js
  src/client/src/styles/Theme.js
  src/client/src/styles/theme.js
Labels: enhancement, frontend

#7 [FE] Labeled Input component 및 로그인 페이지
  src/client/package.json
  src/client/src/App.jsx
  src/client/src/components/common/BlueButton.jsx
  src/client/src/components/common/Form.jsx
  src/client/src/components/common/LabeledInput.jsx
  src/client/src/components/home/RegisterPhrase.jsx
  src/client/src/components/home/SignIn.jsx
  src/client/src/pages/Home.jsx
  src/client/src/routes.js
  src/client/src/styles/theme.js
  src/client/yarn.lock
Labels: enhancement, frontend

#17 [FE] 회원가입 페이지 생성 및 로그인 페이지 수정
  src/client/src/App.jsx
  src/client/src/components/common/BlueButton.jsx
  src/client/src/components/common/Form.jsx
  src/client/src/components/home/SignIn.jsx
  src/client/src/constant/FORM_DEFAULT.js
  src/client/src/constant/FORM_INFO.js
  src/client/src/pages/SignUs.jsx
Labels: enhancement, frontend

#20 feat: Room models.py and model serializers.py done
  src/backend/api/models.py
  src/backend/api/serializers.py
  src/backend/api/views.py
Labels: backend

#21 [FE] 방 만들기 페이지
  src/client/src/App.jsx
  src/client/src/components/common/form/Form.jsx
  src/client/src/components/common/form/LabeledInput.jsx
  src/client/src/components/common/layout/Footer.jsx
  src/client/src/components/common/layout/Header.jsx
  src/client/src/components/common/layout/Layout.jsx
  src/client/src/components/home/SignIn.jsx
  src/client/src/constant/FORM_DEFAULT.js
  src/client/src/constant/FORM_INFO.js
  src/client/src/pages/CreateRoom.jsx
  src/client/src/pages/Home.jsx
  src/client/src/pages/SignUs.jsx
  src/client/src/styles/FormPageContainer.js
  src/client/src/styles/StyledH3.js
Labels: enhancement, frontend

#28 [BE] User가 접속 중인 방 정보들을 반환
  src/backend/video_signalling/consumers.py
Labels: backend

#30 [BE] 사용자가 생성한 Room 정보 API 구현
  src/backend/api/models.py
  src/backend/api/serializers.py
  src/backend/api/urls.py
  src/backend/api/views.py
Labels: backend

#34 [BE] 유저가 생성한 방에 접근할 때 생기는 오류 해결
  src/backend/api/views.py
Labels: backend

#36 [FE] 로그인 라우터 설정
  src/client/src/App.jsx
  src/client/src/components/home/Main.jsx
  src/client/src/components/home/SignIn.jsx
  src/client/src/pages/Home.jsx
  src/client/src/pages/SignIn.jsx
Labels: enhancement, frontend

#39 [BE] 출석하기 기능 구현
  src/backend/api/admin.py
  src/backend/api/migrations/0001_initial.py
  src/backend/api/models.py
  src/backend/api/serializers.py
  src/backend/api/urls.py
  src/backend/api/views.py
  src/backend/group_call/settings.py
  src/backend/requirements.txt
Labels: backend

#48 [FE] 방 관리하기 페이지
  src/client/src/App.jsx
  src/client/src/components/common/form/LabeledInput.jsx
  src/client/src/components/my-room/RoomInfoRow.jsx
  src/client/src/constant/FORM_DEFAULT.js
  src/client/src/constant/FORM_INFO.js
  src/client/src/pages/CreateRoom.jsx
  src/client/src/pages/ManageRoom.jsx
Labels: enhancement, frontend

#51 fix: Room 생성 실패시 반환하는 상태 코드 변경
  src/backend/api/views.py
Labels: enhancement, backend

#54 [BE] Cors 에러 픽스
  src/backend/group_call/settings.py
Labels: bug, backend

#59 [BE] 출석체크한 정보 반환받기
  src/backend/api/serializers.py
  src/backend/api/views.py
Labels: enhancement, backend

#61 WebRTC
  src/client/package.json
  src/client/src/App.jsx
  src/client/src/components/my-room/RoomInfoRow.jsx
  src/client/src/components/video-call/navigation-bar/Clock.jsx
  src/client/src/components/video-call/navigation-bar/NavBar.jsx
  src/client/src/components/video-call/navigation-bar/SettingModal.jsx
  src/client/src/components/video-call/navigation-bar/SideBarBtnContainer.jsx
  src/client/src/components/video-call/navigation-bar/VideoCallControlBtnContainer.jsx
  src/client/src/pages/VideoCall.jsx
  src/client/src/utils/WebRTC.js
  src/client/src/utils/getMedia.js
  src/client/vite.config.js
  src/client/yarn.lock
  src/signal-server/.gitignore
  src/signal-server/babel.config.json
  src/signal-server/nodemon.json
  src/signal-server/package.json
  src/signal-server/src/server.js
  src/signal-server/yarn.lock
Labels: enhancement, frontend

#62 [BE] User가 방 생성과 동시에 방에 입장할 수 있도록
  src/backend/api/views.py
Labels: enhancement, backend

#64 [BE] 주소 뒤에 /가 붙는 문제 수정하기
  src/backend/api/migrations/0001_initial.py
  src/backend/api/models.py
  src/backend/api/serializers.py
  src/backend/api/urls.py
  src/backend/api/views.py
Labels: bug, backend
